@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
}
#navbar{
    

    margin-bottom:65px;
    height: small;
    width: 100;
    background: #f9d60a;
    height: 50px;
}

.container{
    width:950%;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: wrap;
    flex-wrap: wrap;
}
.container .hexagonArea{
    display: flex;
}
.container .hexagonArea.last{
    transform: translateY(-45px );
}

.container .hexagonArea .hexagon{
    position: relative;
    width: 200px;
    height: 250px;
    margin: 0 10px;
    clip-path: polygon(0 25%,50% 0, 100% 25%, 100% 75%,50% 100%,0 75%);
    background: rgb(255, 196, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: .5s; 
}
.container .hexagonArea .hexagon img{
    width:100px ;
    height: 80px;

}
.container .hexagonArea .hexagon h3{
    text-transform: uppercase;
    font-weight:600 ;
    margin-top: 10px;
    font-size: 17px;
    letter-spacing: 1px;

}
.container .hexagonArea .hexagon:hover{
    background: rgb(144, 6, 183);
    transform: scale(0-8);

}
@media only screen and (max-width: 800px) {
    body {
      background-color:rgb(3, 1, 45);
    }
    .container .hexagonArea.first .hexagon{
        height: 100px;
        width: 100px;
        
    }
    .container .hexagonArea.first .hexagon img{
        height: 30px;
        width: 30px;
    }
    .container .hexagonArea.first .hexagon h3{
        text-transform: uppercase;
    font-weight:300 ;
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    }
    
    .container .hexagonArea.last .hexagon{
        height: 100px;
        width: 100px;
        margin-top: 23px;
        
    }
    .container .hexagonArea.last .hexagon img{
        height: 27px;
        width: 27px;
        margin-top: 23px;

    }
    .container .hexagonArea.last .hexagon h3{
        text-transform: uppercase;
    font-weight:300 ;
    font-size: 11px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 5px;

    }
  }
