@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
}
.container{
    width:950%;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: wrap;
    flex-wrap: wrap;
}
.container .hexagonArea{
    display: flex;
}
.container .hexagonArea.last{
    transform: translateY(-45px );
}

.container .hexagonArea .hexagon{
    position: relative;
    width: 200px;
    height: 250px;
    margin: 0 10px;
    clip-path: polygon(0 25%,50% 0, 100% 25%, 100% 75%,50% 100%,0 75%);
    background: rgb(255, 196, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: .5s; 
}
.container .hexagonArea .hexagon img{
    width:100px ;
    height: 80px;

}
.container .hexagonArea .hexagon h3{
    text-transform: uppercase;
    font-weight:600 ;
    margin-top: 10px;
    font-size: 17px;
    letter-spacing: 1px;

}
.container .hexagonArea .hexagon:hover{
    background: rgb(144, 6, 183);
    transform: scale(0-8);

}